* 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
button {
    background-color: chartreuse;
}

input
{
    margin: 5%;
    width: 50vh;
    height: 3vh;
}